body {
    background: #fff;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    font-size: 14px;
    overflow-x: hidden;
}
img {
    /* display: block; */
    vertical-align: top;
    /* 解决图片底测有空白缝隙的问题 */
}

.w {
    /* 版心的公共类 */
    width: 1000px;
    margin: 0 auto;
}

.fl {
    /*  浮动的公共类 */
    float: left;
}

.fr {
    float: right;
}

a {
    text-decoration: none;
}

/* a:hover {
    color: #c81623;
} */

blockquote,
body,
div,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button {
    border: 0;
    outline: none;
    /* 取消轮廓边框 */
}

ul,
ol {
    list-style: none;
}

button {
    vertical-align: bottom;
}

/* 清除浮动 */
.clearfix:before,.clearfix:after { 
  content:"";
  display:table;
}
.clearfix:after {
 clear:both;
}
.clearfix {
  *zoom:1;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
/* 字体 */
.yahei {
    font-family:MicrosoftYaHei;
}
.font10 {
    font-size: 10px;
}
